<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean dao -->
    <bean id="dao" class="dao.DaoImpl"></bean>

    <!-- Bean dao2 -->
    <bean id="dao2" class="dao.DaoImpl2"></bean>

    <!-- Bean metier avec injection par setter -->
    <bean id="metier" class="metier.MetierImpl">
        <property name="dao" ref="dao2"></property>
    </bean>

</beans>